/*
-----------------------------------------------------------------------------
 ____ ____ ____ ____ ____ ____ ____ ____ ____ ____ ____ ____ ____ ____ 
||M |||i |||k |||e |||C |||h |||a |||b |||o |||t |||. |||o |||r |||g ||
||__|||__|||__|||__|||__|||__|||__|||__|||__|||__|||__|||__|||__|||__||
|/__\|/__\|/__\|/__\|/__\|/__\|/__\|/__\|/__\|/__\|/__\|/__\|/__\|/__\|

-----------------------------------------------------------------------------
*/

a:link { text-decoration: none; }
a:hover { text-decoration: underline; } 
a:active { text-decoration: none; }
a:visited { text-decoration: none; }

img.bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
	z-index:-1;	
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;	
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}

@media screen and (max-width: 1024px){
	img.bg {
		left: 50%;
		margin-left: -512px; }
}

img {
	border: 0px;
}

div#container {
	position: absolute;
	bottom: 40%;
	left: 12%;	
	background-color: #000000;
	opacity: .6;
	filter: alpha(opacity = 50);
	-moz-border-top-left-radius: 15px;
	-moz-border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border: 1px solid white;
}



div#navigation {
	position: relative;
	float: left;
	padding: 20px;
	z-index: 1;
}

div.dropdown {	
	position: relative;
	float: left;
	text-align: right;
	margin-right: 15px;
	padding-left: 15px;
	padding-right: 15px;
	display: none;
	border-right: 1px dotted #CCC;
}

div.dropdown a { 
	color: #FFFFFF;
	font-family: Merriweather Sans, Verdana, sans-serif;
	font-size: 12px;
}

div#contact {
	bottom: -35px;
}

div#stuff {
	bottom: -140px;
}

div#archive {
	bottom: -230px;
}

span.links a {
	color: #FFFFFF;
	font-family: Princess Sofia, "Times New Roman", serif;
	font-size: 50px;
	line-height: 200%;
}
